simple_diarizer
openai-whisper
elevenlabs
python-dotenv
pydub
IPython
matplotlib
pandas
scikit-learn
speechbrain
torchaudio
more-itertools
numba
numpy
tiktoken
torch
tqdm
triton
httpx
pydantic
pydantic-core
requests
typing_extensions
websockets
anyio
certifi
httpcore
idna
h11
setuptools
jedi
decorator
pickleshare
traitlets
prompt-toolkit
pygments
backcall
matplotlib-inline
pexpect
contourpy
cycler
fonttools
kiwisolver
packaging
pillow
pyparsing
python-dateutil
pytz
tzdata
annotated-types
typing-inspection
charset_normalizer
urllib3
scipy
joblib
threadpoolctl
hyperpyyaml
sentencepiece
huggingface_hub
filelock
sympy
networkx
jinja2
fsspec
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cudnn-cu12==9.10.2.21
nvidia-cublas-cu12==12.6.4.1
nvidia-cufft-cu12==11.3.0.4
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvtx-cu12==12.6.77
nvidia-nvjitlink-cu12==12.6.85
nvidia-cufile-cu12==1.11.1.6
llvmlite
regex
parso
ptyprocess
wcwidth
six
mpmath
sniffio
pyyaml
hf-xet
ruamel.yaml